doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style.
      body {font-family: Arial, Helvetica, sans-serif;}
      input[type=text], input[type=password] {
      width: 15%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid black;
      box-sizing: border-box;
      }
      input[type=text], input[type=email] {
      width: 15%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid black;
      box-sizing: border-box;
      }
      button {
      background-color: #4CAF50;
      color: White;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 10%;
      }
      button:hover {
      opacity: 0.7;
      }
      }
.row.mt-5
  .col-md-6.m-auto
    .card.card-body
      h1.text-center.mb-4
        i.fas.fa-sign-in-alt
        |  Login
      form(action='/users/login' method='POST')
        .form-group
          input#email.form-control(type='email' name='email' placeholder='Enter Email')
        .form-group
          input#password.form-control(type='password' name='password' placeholder='Enter Password')
        button.btn.btn-block(type='submit') Login
      p.lead.mt-2.text-center
        | No Account? 
        a(href='/users/register') Register
        |  |
        a(href='/') Home
