doctype html
.row.mt-5
  .col-md-6.m-auto
    .card.card-body.text-center.shadow
      h1
        img(src='/logo.JPG' width='80px' alt='50')
      h1 APW
      p Create an account or login to Take a Quiz
      a.btn.mt-4.btn-block.mb-2(href='/users/register') Register |
      | 
      a.btn.btn-block(href='/users/login') Login
